* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#search {
  align-items: center;
  padding: 10px 20px;
  margin-top: -1%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#search ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Search Bar */
.search-bar {
  flex-grow: 1;
}

#search input {
  padding: 10px;
  width: 16vw;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
}

#search input::placeholder {
  color: black;
}

#search h1 {
  font-size: 2vw;
  margin-left: 26vw;
  padding: 2%;
}

.logo a {
  color: black !important;
  text-decoration: none !important;
}

.logo-part {
  display: block;
  text-decoration: none !important;
  margin-right: 18vw;
  color: black !important;
}

/* Sign In */
.sign-in {
  color: black;
  font-weight: 500;
  font-size: 1.2vw;
  margin-left: 15vw;
  text-decoration: none;
}

/* Subscribe Button */
#search button {
  background-color: #c00;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#search button:hover {
  background-color: #900;
}

#navbar-items ul {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  display: flex;
  list-style: none;
  gap: 6%;
  padding: 1%;
}

#navbar-items a {
  text-decoration: none;
  color: black;
  font-size: 1.2vw;

}

#news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.news {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.news h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.news p {
  margin-bottom: 10px;
  color: #555;
}

.news a {
  color: #007bff;
  text-decoration: none;
}

.news a:hover {
  text-decoration: underline;
}

/* carousal */
.slideshow-container {
  position: relative;
  margin: auto;
}

img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  transition: 0.6s ease;
}

.prev:hover,
.next:hover {
  background-color: gray;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dots {
  text-align: center;
}

/* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f0eaea;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */

.active {
  background-color: gray;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.news h2 {
  font-size: large;
}

/* Carousel Styles */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slidepicture {
  position: relative;
  cursor: pointer;

}

.slidepicture img {

  width: 100%;
  height: 90vh;
}

.caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: font-size 0.5s ease;

}

.slidepicture:hover .caption {
  font-size: 2em;

}

/* .dots {
  display: none;
} */


#footer {
  background-color: black;
  width: 100%;
  height: 30%;
  padding-bottom: 2%;
}

.navbar-items-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.navbar-items-footer ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navbar-items-footer a {
  margin-top: 2%;
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

.footer-logo {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  margin-top: -2%;
}

.footer-copyright {
  color: white;
  text-align: right;
  margin-right: 2%;
  margin-top: -2%;
}